/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Helvetica, Arial, sans-serif; 
    line-height: 1.6;
    background-color: #F8F8F8; 
}


/* HEADER STYLING */


header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1rem 20px;
    background: #1E3F66; 
    color: white;
}

nav ul {
    list-style: none; 
}

nav ul li {
    display: inline; 
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none; 
}

/* grid menu  */

main {
    padding: 20px;
}

#liste-menus {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
}

.carte-menu {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

.prix {
    font-size: 1.5rem;
    color: #54AE1C; 
    margin: 15px 0;
    font-weight: bold; 
}

/* RESPONSIVE DESIGN */


@media screen and (max-width: 992px) {

    #liste-menus {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {

    #liste-menus {
        grid-template-columns: 1fr;
    }

    /* navigtion menu styling*/
    header {
        flex-direction: column; 
        text-align: center;
    }
    nav ul {
        padding: 0;
        margin-top: 10px;
    }
    nav ul li {
        display: block; 
    }
}

/* footer styling*/
footer {
    background: #1E3F66; 
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 30px;
}